@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
li {
  white-space: nowrap;
}

body {
  line-height: 1;
}
.swiper-wrapper {
  align-items: end;
}
.swiper-slide {
  opacity: 0 !important;
}

.swiper-slide-visible {
  opacity: 1 !important;
}
@media (min-width: 960px) {
  *::-webkit-scrollbar {
    top: 10px;
    height: 6px;
    width: 2px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #c4c4c4;
  }

  *::-webkit-scrollbar-thumb:active {
    background-color: black;
  }
}
